.view{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 8px;
    font-size: smaller;
    font: status-bar;
}

.numbers{
    display: flex;
    width: 30px;
    justify-content: space-evenly;
}